{{ $areas := (slice "canada" "france" "japon" "perou" "usa") }}
{{ $page := .Page }}
<div class="bm-Widget bm-Widget--areas">
	{{ with .Widget.title }}
			<h2>{{ . | safeHTML }}</h2>
	{{ end }}
	<div class="grid">
		{{ range $areas }}
			{{ $area := $page.Site.GetPage "section" (printf "post/%s" .) }}
			{{ with $area }}
				<div class="grid__item">
					<div class="bm-Area">
						<a href="{{ .Permalink }}" class="bm-Area__title">
							{{ .Title }}
						</a>
						<div class="bm-Area__meta">
							{{ len .Pages }} articles
						</div>
					</div>
				</div>	
			{{ end }}
		{{ end }}
	</div>
</div>