{{ if eq .Kind "section" }}
	{{ .Scratch.Set "area_permalink" .Permalink  }}
	{{ $header := .Resources.GetMatch "**header*" }}
	{{ with $header }}
		{{ $.Scratch.Set "area_logo" .Permalink }}
	{{ end }}
	{{ .Scratch.Set "area_slogan" .Params.slogan  }}
{{ else }}
	{{ $area := .Site.Params.area }}
	{{ $area_page := .Site.GetPage "section" (printf "post/%s" $area) }}
	{{ with $area_page }}
		{{ $.Scratch.Set "area_permalink" .Permalink  }}
		{{ $header := .Resources.GetMatch "**header*" }}
		{{ with $header }}
			{{ $.Scratch.Set "area_logo" .Permalink }}
		{{ end }}
		{{ $.Scratch.Set "area_slogan" .Params.slogan  }}
	{{ end }}
{{ end }}