{{ $s := newScratch }}
{{ if eq .Kind "section" }}
	{{ $s.Set "area" . }}
{{ else }}
	{{ $s.Set "area" ($.Site.GetPage (printf "/post/%s" $.Site.Params.area)) }}
{{ end }}
{{ if eq .Section "item" }}
	{{ $s.Set "area" ($.Site.GetPage "/post/japon" ) }}
{{ end }}
{{ with $s.Get "area" }}
	{{ $.Scratch.SetInMap "area" "permalink" .Permalink }}
	{{ $.Scratch.SetInMap "area" "slogan" .Params.slogan }}
	{{ with .Resources.GetMatch "**header*" }}
	{{ $.Scratch.SetInMap "area" "logo" .Permalink }}
	{{ end }}
{{ end }}