<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    {{ if .IsHome }}
        <title>{{ .Site.Title }} | {{ .Site.Params.Description }}</title>
    {{  else }}
    <title>{{ .Site.Title }} | {{ .Title }}</title>
    {{ end }}
    <meta name="description" content="{{ .Site.Params.Description }}">
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width">
    <link href="https://fonts.googleapis.com/css?family=Neuton:300,400,400i,700" rel="stylesheet">
    {{ $style := resources.Get "sass/main.scss" | toCSS }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">
    <script src="https://cdn.jsdelivr.net/npm/instantsearch.js@2.6.0"></script>
    {{ partial "og" . }}
</head>