{{ $areas := (slice "canada" "france" "japon" "perou" "usa") }}
{{ $page := .Page }}
<div class="bm-Widget bm-Widget--areas">
	<h2>où ça&nbsp;?</h2>
	<div class="flex">
		{{ range $areas }}
			{{ $area := $page.Site.GetPage "section" (printf "post/%s" .) }}
			{{ with $area }}
				<div class="flex__item">
					<div class="bm-Area">
						<a href="{{ .Permalink }}" class="bm-Area__title">
							{{ .Title }}
						</a>
						<div class="bm-Area__meta">
							{{ len .Pages }} articles
						</div>
					</div>
				</div>	
			{{ end }}
		{{ end }}
	</div>
</div>