
.bm-Mosaic{
	display:grid;
	grid-template-columns:repeat(5, 1fr);
}
.bm-Mosaic__item{
	display: block;
	padding-top: 140%;
	overflow:hidden;
	background-size:cover;
	backgroud-repeat:none;
	backgroud-position:center;
}

@media (min-width:800px){
	.bm-Mosaic{
		grid-template-columns:repeat(11, 1fr);
	}
}