
:root{
	--pagefind-ui-border-width: 0;
	--pagefind-ui-border-radius: 8px;
}
.bm-Search{
	position: relative;
	display: none;
	.pagefind-ui__form:before{
		display: none !important;
		background-color: $cRed;
	}
	.pagefind-ui__search-input{
		font-family: 'Georgia';
		font-weight: normal;
		padding: .3rem .3rem!important;
		max-width: calc(100% - 90px) !important;
		&::placeholder{
			color: black;
			opacity: .6;
		}
	}
	&.animating{
		border-bottom:1px solid $cRed;
	}
	input{
		border: 0;
	}
	.pagefind-ui__button{
		border:1px solid $cRed;
		&:hover{
			background: $cRed;
			color: white;
		}
	}
	.pagefind-ui__result + .pagefind-ui__result{
		border-bottom: 1px solid $cRed;
	}
	.bm-Search__box{
		position: relative;
		z-index: 1000;
		border-bottom:1px solid $cRed;
		background: white;
	}
	.bm-Search__box__input{
		margin:0;
		width:100%;
		font-size:1.5em;
		outline:none;
		font-family:inherit;
		border:0;
	}
	.magnifier{
		position: absolute;
		overflow: hidden;
		height:100%;
		top:0;
		right:0;
	}
.magnifier__icon{
		margin-top: -7px;
			width: 40px;
			svg{
				fill:$cRed;
			}
	}
@media (min-width:$desktop){
	.pagefind-ui__search-input{
		font-size: 1.5em;
	}
	.magnifier__icon{
		width: 96px;
		height: 85px;
	}
	.bm-Search__box{
		padding:10px;
	}
	.pagefind-ui__search-clear{
		margin-right: 90px !important;
	}
}
}
