

.bm-Search{
	position: relative;
	display: none;
	&.animating{
		border-bottom:1px solid $cRed;
	}

	.bm-Search__box{
		position: relative;
		z-index: 1000;
		padding:10px;
		border-bottom:1px solid $cRed;
		background: white;
	}
	.bm-Search__box__input{
		margin:0;
		width:100%;
		font-size:1.5em;
		outline:none;
		font-family:inherit;
		border:0;
	}
	.ais-search-box--magnifier-wrapper{
		position: absolute;
		overflow: hidden;
		height:100%;
		top:0;
		right:0;
		.ais-search-box--magnifier{
			margin-top: -7px;
		    width: 96px;
		    height: 79px;
		   	svg{
		   		fill:$cRed;
		   	}
		}
	}
}
