<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
{{ partial "head.html" . }}

<body>
	{{ partial "scratch/area/base" . }}	
	{{ partial "header" . }}
	{{ partial "search" . }}
	{{ block "main" . }}
	{{ end }}
	
	<footer>
		{{ partial "footer" . }}
		{{ partial "foot" . }}
	</footer>
</body>
</html>