<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
{{ partialCached "head.html" . }}

<body>
	{{ partialCached "scratch/area/base" . (printf "%x" .CurrentSection) }}
	{{ partial "header" . }}
	{{ partial "search" . }}
	{{ block "main" . }}
	{{ end }}
	
	<footer>
		{{ partialCached "footer" . }}
		{{ partialCached "foot" . }}
	</footer>
</body>
</html>