{{ define "main" }}
<div class="bm-container" data-pagefind-body>
	<div class="bm-Item">
		<div class="bm-grid__aside mobile-block tablet-block" style="float:right;margin-left:1em;margin-bottom:1em;">
            <p>
            	<img class="bm-Item__image" src="{{ partial "item/image" (dict "page" . "image" .Params.image) }}" alt="{{ $.Title }}">
            </p>
    	</div>
		<div class="bm-grid">
            <div class="bm-grid__main">
    			<div class="bm-Item__title" data-pagefind-meta="title" >
					{{ .Title }}
				</div>
				<table class="bm-Item__table">
					{{ with .Params.mass }}
						<tr>
							<td>Poids:</td>
							<td>
								{{ partial "func/mass" .}}
							</td>
						</tr>
					{{ end }}
					{{ with .Params.price }}
						{{ partial "item/price" . }}
					{{ end }}
				</table>
			</div>
        </div>
        <div class="bm-grid">
        	<div class="bm-grid__main">
        		{{ .Content }}
        	</div>
            <div class="bm-grid__aside desktop-block">
                <p>
                	<img class="bm-Item__image" src="{{ partial "item/image" (dict "page" . "image" .Params.image) }}" alt="{{ $.Title }}">
                </p>
        	</div>
        </div>
	</div>
</div>
{{ partial "item-nav" . }}
{{ end }}