body{
	margin:0;
}

.archive-head{
    border-bottom:1px solid $cRed;
    padding:0.7em 0;
    font-size:0.8em;
    p{
        margin:0;
    }
    p + p {
        margin-top:10px;
    }
}

header{
    position: relative;
    .header-action{
        color:$cRed;
        position: absolute;
        text-decoration: none;
        top:.5em;
        right:.5em;
    }
    .header-search{
        color:$cRed;
        cursor:pointer;
        position: absolute;
        text-decoration: none;
        bottom:.1em;
        right:.5em;
        text-align: right;
        white-space:nowrap;
        & > span{
            display: none;
        }
        svg{
            width:0.7em;
            height:0.7em;
            fill:$cRed;
        }
        &.is-active{
            svg{
                display: none;
            }
            & > span{
                display: inline;
            }
        }
    }
}