.user-edit{
    .image-legend{
        margin:1em 0;
    }
    a[href$=".jpg"], a[href$=".gif"], a[href$=".png"]{
        display: block;
        img{
            max-width:100%;
        }
    }
    img[width], img{
        max-width:100%;
        height:auto !important;
    }
    .wp-caption, .wp-caption[style] {
        position: relative;
        width:auto!important;
        max-width:100% !important;
        img{
            width:auto;
            max-width:100%;
        }
        .wp-caption-text{
        white-space:normal;
        position:absolute;
        left:0;
        line-height: 1.2em;
        font-size:0.85em;
        max-width:80%;
        bottom:2em;
        background-color:white;
        background-color:fadeout(white, 25%);
        padding: 0.3em 0.7em;

        }

        &.alignright{
            float:right;
        }
        &.alignleft{
            float:left;
            margin-right:0.5em;
        }
    }
    img[class*=wp-image]{
        &.alignright{
            float:right;
        }
    }
}
