body{
	margin:0;
}

.archive-head{
    border-bottom:1px solid $cRed;
    padding:0.7em 0;
    font-size:0.8em;
    p{
        margin:0;
    }
    p + p {
        margin-top:10px;
    }
}

header{
    position: relative;
    .header-action{
        color:$cRed;
        position: absolute;
        text-decoration: none;
        top:.5em;
        right:.5em;
    }
}