
<script>
	document.addEventListener('DOMContentLoaded', (event) => {
        new PagefindUI({
          element: "#search-box",
          autofocus: true,
          showImages: true,
          showEmptyFilters: false,
          openFilters: window.innerWidth > 768 ? ['Pays', 'Quoi'] : undefined,
          processResult: function (result) {
            //console.log(result)
          }
        });
    });
</script>
<div class="bm-Search">
	<div id="search-box" class="bm-Search__box">
	</div>
</div>