$tablet : 760px;
$desktop : 960px;

$xl:1170px;
$xxl:1500px;

$cBlack:#303030;
$cRed:#930b09;
$cWhite:white;
$fwLight:100;
$fwRegular:300;
$fwSemiBold:600;
$fwBold:700;
$fwBlack:800;
$fsRem:18;
$lh:1.222222222222em;

$ffSerif:'Georgia', serif;
$ffSans:'Open Sans', sans-serif;